<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      
        <add name="Library_Management.Properties.Settings.Library_ManagementConnectionString"
            connectionString="Data Source=DELL3521-PC\SQLEXPRESS;Initial Catalog=Library_Management;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>